body {
    background: url('./94245871_853002478499614_407991437506904.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:right;
    font-family: 'EB Garamond', serif;
    /* height: 100vh;
    width: 100vw; */
    margin: 0;
  }


  @media (min-width: 768px) {
    main {
      padding-left: 200px;
      height: 100vh;
      width: 100vw;
    }
  }

  @media (max-width: 768px) {
    main {
      height: 100vh;
      width: 100vw;
      display: flex;
    }
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    border-right: 2px solid rgb(14, 17, 17);
    background-color: #f8f8ff;
  }

  @media (max-width: 768px) {
    .sidebar {
      width: 100vw;
      max-height: fit-content;
    }
  }

  .sidebar-sticky {
    position: relative;
    top: 0;
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
  }

  @media (min-width: 768px) {
    #main-navbar {
        visibility: hidden;
    }
  }

.container-abs {
  /* background: rgba(14, 17, 17, .9); */
  background-color: rgb(248, 248, 255, .9);
  padding: 30px;
  max-width: 41rem;
  position: absolute;
  left: 250px;
  top: 75px;
  border: 3px solid rgb(14, 17, 17);
  box-shadow: 1px 1px 1px;
}

@media (max-width: 768px) {
  section .container-abs {
    height: 100%;
    width: 100%;
    left: 0;
    top: 1;
  }
}


.lessons-container {
    visibility: hidden;
}

@media (min-width: 768px) {
  #lessons {

  }
}

.text-container{
  /* color: #f8f8ff; */
  color: rgb(14, 17, 17);
  border: 1px solid rgb(14, 17, 17);
  padding: 10px;
  box-shadow: 1px 1px 1px rgb(14, 17, 17);
}

@media (max-width: 768px) {
  #lessons {
    height: 100%;
    width: 100%;
  }
}

.composition-container {
    visibility: hidden;
}

button.navbar-toggler {
  border: none;
}

.form-container {
  visibility: hidden;
}
