/* Body */
body {
    background: url('./94245871_853002478499614_407991437506904.webp');
    background-size: cover;
    background-position: 15%;
    min-height: 100vh;
    background-repeat: no-repeat;
}

.navbar a {
    color: white;
}

section {
    position: absolute;
    /* visibility: hidden; */

}

section .container {
    background: rgba(0, 0, 0);
    padding: 30px;
    display: flex;
    flex-direction: column;
}

section .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.lessons-container {
    visibility: hidden;
}

.composition-container {
    visibility: hidden;
}
