.home {
    background-color: rgb(248, 248, 255);
    /* background-color: red; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    margin: 0;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.content img {
    height: 100vh;
}

.textBox {
    color:rgb(14, 17, 17);
    background-color: rgb(248, 248, 255);
    text-align: center;
    width: 100vw;
}

.textBox h1 {
    font-size: 55px;
}

.textBox h3 {
    font-size: 30px;
}

@media (min-width: 768px) {
    .home {
        margin-left: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content {
        width: 100%;
        overflow: scroll;
    }

    .textBox {
        width: 100%;
    }

    .content img {
        height: 75vh;
    }
}
